body {
    box-sizing: border-box;
    background-color:rgb(66,113,81);
    border-style: solid;
    border-width: 8px;
    border-color: rgb(159,110,60);
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}
@media only screen and (max-width:800px ) {
    .menu li  {
        display: block;
        margin-bottom: 20px;
        width:100%;
        margin-top: 15px ;
    }
    .menu a{
        width: 100%;
        background-color: rgb(115, 115, 115);
    }
    #f1{
        position: absolute;
        top: 30%;
        max-height: 150px;
    }
    #f1 p {
        max-height: 150px;
    }
    #inicio{
        border-bottom-left-radius: 0px;
    }
}
#cont{
    position: absolute;
}
.menu{
    float:right;
}
.menu li{
    display: inline-block;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 17px;
    margin-top:0px;
    background-color: rgb(115, 115, 115);

}
#inicio{
    border-bottom-left-radius: 50%;
}
.menu a:hover{
    background-color: white;
    color:rgb(115, 115, 115);
}
#tI{
    position:relative;
    z-index: 1;
    margin-top: 0%;
    margin-left: 30%;
    margin-right: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-bottom: 1px;
    border-bottom-color: white;
    max-height: 300px;
}
#tI p{
    font-size: 2vw;
    margin-top: 3%;
}
#tI h2{
    font-size: 5vw;
    width:100%;
    margin-top: 1%;
    margin-bottom: 0%;
    color:white;
    


}
#log{
    z-index: 2;
    max-height: 250px ; 
    width: 100%;
    border-bottom-left-radius: 5%;
}
.intro{
    text-align: justify;
    color: white;
    font-size: 2vw;
    margin: 10%;
    margin-top: 4%;
    clear:right;
    border-top: 1px;
    border-color: white;
}

#f1{
    display:block;
    margin:10% 5%;
    padding: 2%;
    background-color:white;
    border-radius: 10px;
    font-size: 3vw;
}
#fisica{
    background-color: whitesmoke;
}
#ingles{
    background-color: skyblue;
}
#mates{
    background-color: red;
}
#bio{
    background-color: gray;
}
#leng{
    background-color: yellow;
}
.materia{
        width: 10%;
        background-color:rgb(255,255,255);
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 2vw;
        color:black;
        margin: 5% 4%;
        clear: left;
}
h2{
    margin-left: 4%;
    color: white;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
}