body {
    box-sizing: border-box;
    background-color:rgb(66,113,81);
    border-style: solid;
    border-width: 8px;
    border-color: rgb(159,110,60);
    margin: 0px;
    font-family: Garamond, serif;
    font-weight: 700;
}
#fisica{
    width: 96%;
    height: 60%;
    margin: 2%;
}
#ti{
   color: white; 
    font-size: 10vw;
    width: 80%;
    text-align: center;
    vertical-align: middle;
    margin:0%;
    float:left;

}
.materia{
        width: 10%;
    background-color:rgb(255,255,255);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    color:black;
    margin-bottom: 3px;
    margin-top : 1%;
    margin-right: 4%;
    clear: left;
}