body {
    box-sizing: border-box;
    background-color:rgb(66,113,81);
    border-style: solid;
    border-width: 8px;
    border-color: rgb(159,110,60);
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

#ti{
   color: white; 
    font-size: 10vw;
    width: 80%;
    text-align: center;
    vertical-align: middle;
    margin:0%;
    float:left;

}

#ti{
    color: white; 
     font-size: 10vw;
     width: 100%;
     text-align: center;
     vertical-align: middle;
     margin:0%;
     float:left;
 
 }
 
 #cont{
     position: absolute;
 }
 .menu{
     float:right;
 }
 .menu li{
     display: inline-block;
 }
 .menu a{
     text-decoration: none;
     color: white;
     padding: 17px;
     margin-top:0px;
     background-color: rgb(115, 115, 115);
 
 }
 #inicio{
     border-bottom-left-radius: 50%;
 }
 .menu a:hover{
     background-color: white;
     color:rgb(115, 115, 115);
 }
 #tI{
     position:relative;
     z-index: 1;
     margin-top: 0%;
     margin-left: 80%;
   
     vertical-align: middle;
     text-align: center;
     color: white;
     border-bottom: 1px;
     border-bottom-color: white;
     max-height: 300px;
 }
 #tI p{
     font-size: 2vw;
     margin-top: 3%;
 }
 #tI h2{
     font-size: 5vw;
     width:100%;
     margin-top: 1%;
     margin-bottom: 0%;
     color:white;
     
 
 
 }
 #log{
     z-index: 2;
     max-height: 250px ; 
     width: 100%;
     border-bottom-left-radius: 5%;
 }
 h2{
    margin-left: 4%;
    color: white;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
}